service: whooper-test

provider:
  name: aws
  runtime: python3.6
  region: us-west-1

package:
  include:
    - function/**

functions:
  whooper:
    package: {}
    handler: function/lambda_function.lambda_handler

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    zip: true
    layer: true
    dockerizePip: non-linux
